* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    margin: 10px;
    width: 200px;
    background-color: #f5f5f5b0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    margin-top: 1.6%;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin-bottom: 8px;
  }
  
  .menu ul li a {
    display: block;
    padding: 7px 9px;
    background-color: #ececec;
    color: #000;
    text-decoration: none;
    border-radius: 1px 5px 4px 2px;
  }
  
  .menu ul li a:hover {
    background-color: #eee;
  }

.container{
    margin-left: 10wv;
    padding: 5px;
}

h1{
  font-size: 36px;
  margin-left: 16vw;
}

.resumo{
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
    width: 400px;
    padding: 16px;
    border-radius: 13px;
    margin-left: 27.5vw;
}

.block h2{
  font-size: 30px;
  margin-top: 3%;
  text-align: center;
}

.resumo p{
  font-size: 19px;
  margin-left: 9px;
}

.grafico{
    margin-left: 5vw;
    border-radius: 29px;
    background-color: #ffffff00;
}

.block{
  border-radius: 18px;
  margin-left: 26vw;
  width: 50vw;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1px;
}

.recibos table{
  margin-bottom: 3%;
}
.recibos h2{
  margin-left: 18vw;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: 15vw ;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}

th {
  background-color: #e7e7e7;
  font-weight: bold;
  border: 1px solid black;
}

.fornecer h2{
  margin-left: 18vw;  
}

.add{
  margin-left: 76.2vw;
  padding: 9px;
  margin-bottom: 3%;
}

.add{
  border-radius: 2px;
  border: 1px solid #0000009d;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: -2%;
  margin-bottom: 0.5%;
  margin-right: -5%;
}

.add a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

footer{
    width: 100%;
    bottom: 0;
    margin-top: 3%;
    font-size: 17px;
    color: #322b7f;
    text-align: center;
}
footer a{
  text-decoration: none;
  color: #322b7f;
}
